.form_container {
  margin-bottom: 70px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 750px;
}

.input {
  border: none;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
  width: 750px;
  padding: 10px;
  margin: 13px 0px;
  font-weight: 500;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}

.invalid_input {
  color: red;
  background-color: #ffefef;
  border: none;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
  width: 700px;
  padding: 10px;
  margin: 13px 0px;
  font-weight: 500;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}

.succ_validate_img {
  margin-left: -25px;
}

.input:focus {
  background: #e9ecef;
  outline: none;
}

::placeholder {
  color: #212529;
  opacity: 1;
}

.invalid_input_container {
  position: absolute;
  right: 20px;
  top: 140px;
  margin-top: 10px;
}
