.main_container {
  width: 350px;
  height: 87px;
  background: rgba(255, 255, 255, 0.85);
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-bottom: 5px;
}

.upper_part {
  color: #dc3545;
  font-weight: 600;
  font-size: 14px;
  padding: 10px;
}

.warning_img {
  margin-right: 9px;
}

.close_button {
  float: right;
  margin-top: 5px;
  cursor: pointer;
}

.lower_part {
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  border-top: 1px solid rgba(221, 216, 216, 0.5);
}
